<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>webook search</title>

    <script type="text/javascript">
        function form_setfocus() {document.myform.q.focus();}
    </script>

    </head>
    <body onload="form_setfocus()">

        <h1>webook search</h1>

        <form action="/search" method="GET" id="myform" name="myform" >
          search term : <input type="text" id="q" name="q"  accept-charset="utf-8" style="width:100%"><br>
          <input type="submit" value="submit">
        </form>
    </body>
</html>
