[Unit]
Description=webook_opds service
After=network.target

[Service]
#EnvironmentFile=-/home/pi/code/py/webook_server/env.sh
# NOTE ExecStart call assumes config.json in WorkingDirectory
ExecStart=python3 /home/pi/code/py/webook_server/webook_opds_server.py config.json
WorkingDirectory=/home/pi/code/py/webook_server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

